<!DOCTYPE html>
<html>
<head>
  <title>Privacy Policy | CipherShare</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
   p,h3,h1,ul,div{
    margin: 0px 25px;
   }
  </style>
</head>
<body>

    <header class="header">
  <div class="header-left">
    <h1>CipherShare</h1>
    <p>Upload and share files securely with password protection</p>
  </div>
  </div>
</header>
  <h1>Privacy Policy</h1>

  <p>We respect your privacy.</p>

  <h3>Data We Collect</h3>
  <ul>
    <li>Uploaded files</li>
    <li>Optional password (encrypted)</li>
    <li>Download count</li>
  </ul>

  <h3>What We Do NOT Collect</h3>
  <ul>
    <li>No cookies</li>
    <li>No personal details</li>
    <li>No email tracking</li>
  </ul>

  <h3>File Storage</h3>
  <p>
    Files are stored temporarily on the server and may be deleted automatically.
  </p>

  <div class="back-home">
      <a href="/" class="btn"> ⬅ Back to Home</a>
    </div>
</body>
</html>
