<!DOCTYPE html>
<html>
<head>
  <title>Terms of Service | CipherShare</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    h1,p,ul,div{
      margin: 0px 25px;
    }
  </style>
</head>
<body>
  <header class="header">
  <div class="header-left">
    <h1>CipherShare</h1>
    <p>Upload and share files securely with password protection</p>
  </div>


</header>
  <h1>Terms of Service</h1>

  <p>By using CipherShare, you agree to the following:</p>

  <ul>
    <li>You are responsible for the files you upload</li>
    <li>No illegal or harmful content</li>
    <li>Files may be removed at any time</li>
    <li>No guarantee of permanent storage</li>
  </ul>

  <p>CipherShare is provided "as-is" without warranties.</p>

  <div class="back-home">
      <a href="/" class="btn"> ⬅ Back to Home</a>
    </div>
</body>
</html>
